@model IEnumerable<MVC_Tutorial_2017.Models.ClientesModel>

@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

<p>
    @{ 
        int paginaAtual = ViewBag.paginaAtual;
        int paginaSeguinte = paginaAtual + 1;
        int paginaAnterior = paginaAtual - 1;
    }
    @if (paginaAnterior > 0)
    {
        @Html.ActionLink("Página Anterior", "Index2/" + paginaAnterior.ToString())
    }
    @Html.ActionLink("Pagina Seguinte", "Index2/"+paginaSeguinte.ToString())
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.morada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_nascimento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.morada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_nascimento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
